<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.RolePermissionMapper">
    <insert id="batchInsert">
        INSERT INTO sys_role_permission (role_id, permission_id) VALUES
        <foreach collection="permissionIds" item="permissionId" separator=",">
            (#{roleId}, #{permissionId})
        </foreach>
    </insert>

    <select id="selectPermissionIdsByRoleId" resultType="java.lang.Long">
        SELECT permission_id FROM sys_role_permission WHERE role_id = #{roleId}
    </select>
</mapper>
